<!DOCTYPE html>

<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="site">
        {% include header.html %}
        <div class="content">
          <div class="banner">
            <div class="photo">
              <img src="/assets/ProfilePic.jpg">
            </div>
            <div class="contact">
              email: <a href="mailto:ndey3@ncsu.edu">ndey3@ncsu.edu</a> <br>
            </div>
          </div>


          <b>Brief biography</b> 
          <br>
          I am a PhD student in the Department of Statistics at North Carolina State University. I am advised by <a href="https://jonathanpw.github.io/"><b>Jonathan Williams</b></a>.

          <br>
          <br>
          Link: <a href="assets/CV.pdf"><b>Curriculum Vitae</b></a>
          <br>
          <br>
          <!--
            <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-5164-9430" href="https://orcid.org/0000-0001-5164-9430" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-5164-9430</a></div>
          -->

          <br>
          <b>Current research interests</b>
          <ul>
            <li> Machine learning </li>
            <li> Foundations of statistics </li>
          </ul>

        </div>
      </div>
      <div class="sidebar"></div>
      {% include footer.html %}
    </div>
    </div>
    </div>
  </body>
</html>
